<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekluxun.greateapp.dao.SysPrivilegeMapper">
    <resultMap id="BaseResultMap" type="com.geekluxun.greateapp.entity.SysPrivilege">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="privilege_name" jdbcType="VARCHAR" property="privilegeName"/>
        <result column="privilege_url" jdbcType="VARCHAR" property="privilegeUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, privilege_name, privilege_url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_privilege
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_privilege
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.geekluxun.greateapp.entity.SysPrivilege">
        insert into sys_privilege (id, privilege_name, privilege_url)
        values (#{id,jdbcType=BIGINT}, #{privilegeName,jdbcType=VARCHAR}, #{privilegeUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.geekluxun.greateapp.entity.SysPrivilege">
        insert into sys_privilege
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="privilegeName != null">
                privilege_name,
            </if>
            <if test="privilegeUrl != null">
                privilege_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="privilegeName != null">
                #{privilegeName,jdbcType=VARCHAR},
            </if>
            <if test="privilegeUrl != null">
                #{privilegeUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekluxun.greateapp.entity.SysPrivilege">
        update sys_privilege
        <set>
            <if test="privilegeName != null">
                privilege_name = #{privilegeName,jdbcType=VARCHAR},
            </if>
            <if test="privilegeUrl != null">
                privilege_url = #{privilegeUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekluxun.greateapp.entity.SysPrivilege">
        update sys_privilege
        set privilege_name = #{privilegeName,jdbcType=VARCHAR},
            privilege_url  = #{privilegeUrl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>