<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		
		
		
		
		
		
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- spring提供的cacheManager只是一个抽象，需要具体的缓存实现，这里使用的是redis缓存-->
    <cache:annotation-driven cache-manager="cacheManager" error-handler="customCacheErrorHandler"/>

    <bean id="customCacheErrorHandler" class="com.geekluxun.greateapp.cache.CustomCacheErrorHandler"/>


    <bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg index="0" ref="redisTemplate"/>
        <property name="defaultExpiration" value="7200"/>
    </bean>
</beans>