<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="mainSchedule " class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="testTaskTrigger"/>
            </list>
        </property>
    </bean>

    <bean id="testTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="testTaskJob"/>
        </property>

        <property name="cronExpression">
            <value>* * 1 * * ?</value>
        </property>
    </bean>

    <bean id="testTaskJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="testTaskTargetObject"/>
        </property>

        <property name="targetMethod">
            <value>execute</value>
        </property>
    </bean>


    <bean id="testTaskTargetObject" class="com.geekluxun.greateapp.schedule.TestTask">

    </bean>


</beans>