<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       	
       	
      	
       	
       	
       	
       	
       	
	    http://www.springframework.org/schema/batch
	    http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

    <batch:job id="messageJob" restartable="true">
        <batch:step id="messageStep">
            <tasklet>
                <chunk reader="messageReader" processor="messageProcessor" writer="messageWriter"
                       commit-interval="5" retry-limit="2">
                    <retryable-exception-classes>
                        <include class="java.lang.RuntimeException"/>
                    </retryable-exception-classes>
                </chunk>
            </tasklet>
        </batch:step>
    </batch:job>


    <bean id="jobRepository"
          class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <!-- 和class="org.springframework.jdbc.datasource.DataSourceTransactionManager" 冲突 暂时注掉，否则事务会不起作用！！！-->
    <!--<bean id="transactionManager"-->
    <!--class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>-->

    <bean id="messageReader"
          class="org.springframework.batch.item.file.FlatFileItemReader">
        <property name="lineMapper" ref="lineMapper"/>
        <property name="strict" value="false"/>
        <property name="resource" value="classpath:localdata/users.properties"/>
    </bean>

    <bean id="lineMapper"
          class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
        <property name="lineTokenizer">
            <bean
                    class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"></bean>
        </property>
        <property name="fieldSetMapper">
            <bean class="com.geekluxun.greateapp.spring.batch.UserMapper"></bean>
        </property>
    </bean>

    <bean id="messageProcessor"
          class="com.geekluxun.greateapp.spring.batch.MessagesItemProcessor"></bean>

    <bean id="messageWriter"
          class="com.geekluxun.greateapp.spring.batch.MessagesItemWriter"></bean>

</beans>